{% extends 'base.html' %}
{% block title %}Diana | Home {% endblock title %}
{% block content %}
<section id="projects" class="container text-center">
  <h2 class="m-5">PROJETOS</h2>
  <div id="imer">
    <h3 class="m-5 text-decoration-underline">Imersões</h3>
    <div class="row container">
      <div id="elas" class="col-md-4">
        <h5>ElasNaTech</h5>
        <ul>
          <li><a target="_blank" href="https://dianafismed.github.io/elasnatech-arquiteta/">Arquiteta</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/elasnatech-cardapio/">Cardápio</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/elasnatech-otica/">Ótica</a></li>
        </ul>
      </div>
      <div id="santander" class="col-md-4">
        <h5>Santander</h5>
        <ul>
          <li><a target="_blank" href="https://dianafismed.github.io/santander-contador/">Contador</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/santander-insta/">Instagram</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/santander-todolist/">To-do List</a></li>
        </ul>
      </div>
      <div id="alura" class="col-md-4">
        <h5>ImersãoDev</h5>
        <ul>
          <li><a target="_blank" href="https://dianafismed.github.io/imersaodev-conversores/">Conversores</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/imersaodev-media.github.io/">Calculadora de média</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/imersaodev-mentalist.github.io/">Mentalist</a></li>
          <li><a target="_blank" href="https://dianafismed.github.io/imersaodev-supertrunfo.github.io/">Supertrunfo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="project">
    <h3 class="m-3 text-decoration-underline">Próprios</h3>
    <ul>
      <li><a target="_blank" href="https://dianafismed.github.io/Isas.github.io/">Isas Bolos e Doces</a></li>
      <li><a target="_blank" href="https://dianafismed.github.io/pelaslentesdadeia/">pelaslentesdadeia</a></li>
    </ul> 
  </div>
</section>
{% endblock content %}