{% extends 'base.html' %}
{% block title %}Diana | Home {% endblock title %}
{% block content %}
<section id="about" class="container-fluid">
  <div class="row">
    <div class="col-md-7 mt-3">
      <h2 class="m-5">Quem sou eu ... </h2>
      <p class="container">
        Sou recém-graduada no curso de Análise e Desenvolvimento de Sistemas pela Faculdade Tecnológica de Ribeirão Preto (FATEC).<br><br>
        Trabalho, atualmente, na área financeira, mas tenho grande interesse em mudar de área.<br><br>
        Não possuo (ainda) experiência profissional na área de programação. <br><br>
        Sou proativa, inteligente e prezo pela qualidade. <br><br>
        Estou disponível para trabalhos remotos.
      </p>
    </div>
    <div class="col-md-5">
      <img id="img-profile" class="img-fluid" src="{{ url_for('static', filename='img/me.jpg')}}" alt="Foto da Diana">
    </div>    
  </div>
  <div id="grade">
    <h2>Academia</h2>
    <h3 class="text-decoration-underline">Graduação</h3>
    <p>Tecnologia em Análise e Desenvolvimento de Sistemas - FATEC</p>
    <p>Bacharelado em Física Médica - USP</p>
    <p>Curso Sequencial em Gestão Financeira - Moura Lacerda</p>
    <br>
    <h3 class="text-decoration-underline">Pós-Graduação</h3>
    <p>CSI: Criminalística - Unyleya</p>
    <p>Psicologia Forense - Unyleya</p>
    <h2>Idiomas</h2>
    <p>Inglês Intermediário</p>
    <p>Francês básico</p>
  </div>
</section>
{% endblock content %}